/* Top banner */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.topImg {
  width: 150%;
  height: auto;
  display: block;
}

.btnHome {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 45px;
  z-index: 2;
}

.gradient {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, black 1%, transparent);
}

/* Hero */
.heroContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  width: 90%;
  gap: 2em;
  margin-left: 2em;
}

.heroTitle {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "wght" 100, "slnt" 0;
  margin: 0;
}

.heroDescription {
  font-size: 1em;
  color: white;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 18em;
  margin: 0;
}

@media (min-width: 1024px) {
  .heroDescription {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 29em;
  }
}

/* Categories */
.categories {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.card {
  width: 10em;
  height: 10em;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  padding: 10px;
}

.cardTile {
  color: rgba(255, 255, 255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: medium;
}

.one {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("/galerieAnimal.png");
}

.two {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("/galerieFood.png");
}

.three {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("/galerieVintage.png");
}

.four {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("https://img.welt.de/img/politik/deutschland/mobile162881942/6822501957-ci102l-w1024/Deutschland-Besuch-Barack-Obama-3.jpg");
}

.five {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("https://static.dw.com/image/17156166_605.jpg");
}

.six {
  background-image: linear-gradient(to top, black 5%, transparent 80%), url("https://media.lesechos.com/api/v1/images/view/5bf181c53e45462cab4a21ae/1280x720/060160208421-web-tete.jpg");
}

@media (min-width: 1024px) {
  .card {
    width: 20em;
    height: 20em;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    padding: 10px;
  }

  .cardContainer {
    gap: 2em;
  }

  .containerRandom {
    padding-top: 11em;
    align-items: center;
  }

  .title {
    align-self: flex-start;
    padding-left: 2em;
  }
}

/* Random */
.containerRandom {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  height: 35em;
}

.random {
  position: relative;
  width: 90%;
  height: 30vh;
  border-radius: 20px;
  background-image: linear-gradient(to top, black 2%, transparent 90%), url("/random.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
